html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h3,
h4 {
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
  background: url('./restaurant_background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.header {
  background-color: rgb(0, 116, 217, 0.75);
  text-align: center;
  font-size: 48px;
  color: #fff;
  padding: 5px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 116, 217, 0.75);
  color: #fff;
  font-size: 20px;
  padding: 0 5px;
}

.selected-tab {
  border-bottom: 3px #333 solid;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  font-size: 32px;
  color: #333;
  padding: 10px;
}

.card {
  background-color: rgb(127, 219, 255, 0.5);
  border: 1px #fff solid;
  border-radius: 8px;
  padding: 50px;
  margin: 30px 0;
  text-align: center;
}

.card h3 {
  font-size: 96px;
  font-family: Brush Script MT, Ariel, sans-serif;
}

.footer {
  background-color: rgb(0, 116, 217, 0.75);
  text-align: center;
  font-size: 32px;
  color: #fff;
  padding: 10px 0;
}

.disclaimer {
  font-size: 12px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(300, 110, 110, 0.85);
  border: 1px #333 solid;
  border-radius: 8px;
  padding: 20px;
  margin: 30px;
}

.menu-card h4 {
  font-size: 24px;
}

.menu-card p {
  font-size: 20px;
  margin: 10px 0;
  color: #111;
}

.menu-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 1px green solid;
  border-radius: 5px;
  margin: 10px 0 50px 0;
}

/* Only used for "Entrées" and "Desert" */
.menu-heading-margin {
  margin-top: 80px;
}

/* Extra small devices (phones, 650px and down) */
@media only screen and (max-width: 650px) {
  .card {
    width: 450px;
  }

  .menu-card {
    padding: 20px;
    margin: 30px 0;
  }

  .menu-image {
    width: 250px;
    height: 250px;
  }
}

/* Small devices (portrait tablets and large phones, 650px and up) */
@media only screen and (min-width: 650px) {
  .card {
    width: 600px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    width: 700px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    width: 800px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    width: 900px;
  }
}